.all-text-color-brown{
    color: #613D2B;
}

.all-text-color-light-brown{
    color: #974A4A;
}

.all-text-decoration-none{
    text-decoration: none;
}

.all-title-text{
    color: #613D2B;
    font-weight: 700;
}

.all-input-form {
    border: 1px solid #613D2B !important;
    color: #613D2B !important;
    background-color: #613D2B40 !important;
}

.all-btn-submit{
    background-color:#613D2B !important;
    border : none !important;
    width: 100% !important;
    font-weight: 600 !important;
}

.nav-style{
    box-shadow: 0 0 30px #bdbdbd;
    margin-bottom: 40px;
}

.nav-icon{
    width: 100px;
}

.nav-text-login{
    border: 2px solid #613D2B;
    color: #613D2B;
    padding: 3px 29px;
    border-radius: 4px;
    font-weight: 600;
}

.nav-text-register{
    border: 2px solid #613D2B;
    padding: 3px 20px;
    border-radius: 4px;
    background-color: #613D2B;
    color:white;
    font-weight: 600;
}

.nav-modal-text-header{
    color: #613D2B;
    font-weight: 600;
}

.nav-cart-icon{
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 0px !important;
}

.nav-profile-image{
    margin: 5px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    cursor: pointer;
}

.nav-dropdown-img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.lp-card-style{
    border-radius: 0px !important;
    cursor: pointer;
}

.lp-card-img{
    border-radius: 0px !important;
}

.lp-card-body-style{
    background-color: #F6E6DA;
}

.pd-desc-text{
    margin-top: 15px;
    text-align: justify;
}

.pd-price-text{
    text-align: end;
    color: #974A4A;
    font-weight: 700;
    margin:10px;
}

.pd-add-cart{
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: larger;
    margin: 30px 0;
    background-color: #613D2B;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.md-btn-modal{
    text-decoration: none;
    background: none !important;
    border: none!important;
    color: #613D2B !important;
}

.lp-btn{
    background: none !important;
    border: none!important;
    color: #613D2B !important;
}

.lp-delete-link{
    padding : 2px 6px;
    border-radius: 10px;
    text-decoration: none;
    color : white;
    background-color:#FF0742;
}

.lp-edit-link{
    padding : 2px 6px;
    border-radius: 10px;
    text-decoration: none;
    color : white;
    background-color:#0ACF83;
}

.pr-btn-edit{
    text-decoration : none;
    color: white;
}

.pr-div-edit{
    text-decoration : none;
    color: white;
    border-radius: 10px;
    padding: 4px 0px;
}

.crt-btn-action-count{
    border: none !important;
    text-decoration: none !important;
    background-color: white;
    color: #613D2B;
    font-weight: 700;
    padding: 5px;
}

.crt-count{
    margin: 0 6px;
    background-color: #F6E6DA;
    padding: 1px 8px;
}

.crt-text-total{
        font-weight:700;
}

.crt-pay-btn{
    margin: 20px 0;
    background-Color:#613D2B;
    border-radius: 7px;
    color: white;
    text-align: center;
    font-weight: 700;
    padding: 3px;
}